.add-button {
	width: 50px;
	height: 50px;
	right: 50px;
	bottom: 50px;
	position: absolute;
	border: none;
	border-radius: 50%;
	background-color: $green400;
	color: $white;
	font-size: 2rem;
	font-weight: 700;
	box-shadow: 0 3px 10px 0 $gray400;
	cursor: pointer;
}
