.yellow {
    background-color: $yellow200;
    border: solid 1px $yellow300;
    &:before {
        border-color: $yellow300 $gray200;
    }
}
.red {
    background: $red200;
    border: solid 1px $red300;
    &:before {
        border-color: $red300 $gray200;
    }
}
.green {
    background-color: $green200;
    border: solid 1px $green300;
    &:before {
        border-color: $green300 $gray200;
    }
}
.purple {
    background-color: $purple200;
    border: solid 1px $purple300;
    &:before {
        border-color: $purple300 $gray200;
    }
}
.blue {
    background-color: $blue200;
    border: solid 1px $blue300;
    &:before {
        border-color: $blue300 $gray200;
    }
}
.card {
    width: 300px;
    height: 300px;
    box-shadow: 0 35px 15px 0 $gray400;
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;

    &:before {
        content: '';
        border-width: 0;
        border-style: solid;
        position: absolute;
        top: 0;
        right: 0;
        box-shadow: -4px 4px 5px 0 $gray400;
        transition: all 0.5s;
    }
    .delete {
        font-weight: 700;
        font-size: 1.6rem;
        z-index: 0;
        position: absolute;
        border: none;
        background: none;
        width: 30px;
        height: 30px;
        top: 0;
        right: -2px;
        color: $gray600;
        opacity: 0;
        transition: all 0.5s;
    }
    &:hover {
        &:before {
            content: '';
            border-width: 0 40px 40px 0;
            border-style: solid;
            position: absolute;
            top: 0;
            right: 0;
            box-shadow: -4px 4px 5px 0 $gray400;
        }
        .delete {
            opacity: 1;
        }
    }

    input {
        width: 100%;
    }
    .title,
    .content {
        border: none;
        padding: 4px;
        background-color: inherit;
        outline-color: $white;
        outline-offset: 2px;
        outline-width: 1px;
    }
    .title:focus,
    .content:focus {
        outline-style: solid;
    }
    .title {
        font-size: 2.2rem;
        text-align: center;
        font-weight: 700;
    }
    .content {
        font-size: 1.6rem;
        height: 100%;
        margin-top: 10px;
        width: 100%;
        z-index: 1000;
    }
    .menu {
        height: 40px;
        display: flex;
        padding-top: 10px;
        align-items: center;
        justify-content: space-between;
        button {
            display: block;
            width: 25px;
            height: 25px;
            cursor: pointer;
        }
    }
}
