@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@import './colors.scss';
@import '../components/Card/card.scss';
@import '../components/AddButton/add-button.scss';
*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
h1,
h2,
h3,
h4 {
    line-height: 100%;
}
input,
textarea {
    font-family: 'Lato', sans-serif;
}
body {
    font-family: 'Lato', sans-serif;
    color: $gray900;
    font-size: 1.6rem;
}
.card-board {
    width: 100%;
    height: 100vh;
    background-color: $gray200;
}
